/*
para class se usa .nombre
para id se usa #nombre y son unicos

para atributos [atributo="valor"]

:hover para acciones

1em = 16px por defecto

En normalize
En img se agrega:
  max-width: 100%;
  max-height: 100%;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

para volver elementos en linea
display: inline;

interno
padding: y x; : arriba derecha-right abajo izquierda-left;

Externo
margin

redondear
border-radius: 10px;

rotar
 transform: rotate(45deg);

outline: 10px black;

position: relative;
top - left
z-index: 1;

opacity: 0-1;

position: absolute;
right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;

Se queda fijo en la pantalla
position: fixed;

position: sticky;
    top: 20px;

para que no se desborde
overflow: auto;

Desplazar a la derecha
float: right;

transition: background 1s, padding 1s, width 1s;

  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  margin
  flex-grow: 
  flex-shrink: 
  flex-basis:  - SIMILAR A WHID
  order:;

  display: grid;
  grid-template-rows: repeat(3,150px);
  grid-template-columns: repeat(3,150px);

  medidas especiales = fr


  grid-column: 1/ span 2;
  grid-row: 1/3;

  grid-auto-rows: 50px;
  grid-auto-flow: dense; rellena y acomoda

  grid-auto-rows: 50px;

  minmax(100px,300px);
  min-content
  max-content

  auto-fill genera filas y o comunas
  auto-fit

  grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
  justify-content: center;

  centra los items
  justify-items:center; /start/end  filas
  align-items: center;              columnas

  centra el contenido
  justify-content: center;
  align-content: center;

  cada uno de los items
  justify-self:center;
  align-content

  place-sef:;
     */